---
import Nav from "../components/Nav.astro";
import ProductCard from "../components/ProductCard.astro";
import LinkButton from "../components/LinkButton.astro";
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Nav />
		<h1>Products<span>R</span>Us</h1>
<main class="productgrid">
	<ProductCard text="Her kommer en tekst" header="Et par sko" />
	<ProductCard text="Her kommer en tekst" header="Bukser" />
	<ProductCard text="Her kommer en tekst" header="Smølf" />
	
</main>
	</body>
</html>

<style>
	.productgrid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
</style>