<nav>
	<ul>
			<li><a href="/">Hjem</a></li>
			<li><a href="/">Hjem</a></li>
			<li><a href="/">Hjem</a></li>
			<li><a href="/">Hjem</a></li>
	</ul>
		</nav>


<!-- GÆLDER KUN FOR DENNE UL på siden -->>

		<style>
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: flex;
				justify-content: space-around;
				flex-direction: row;
			}

			@media (max-width: 700px) {
ul {
	flex-direction: column;
}
			}
			</style>

			