---
import LinkButton from "./LinkButton.astro";
const {header} = Astro.props;
const {text} = Astro.props;


---

<article>
    <h2>{header}</h2>
    <p>
        {text}
    </p>
    <ul>
<li>Hello</li>
<li>Goddag</li>
<li>Hejsa</li>
</ul>
<LinkButton />
</article>



